body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f4f4f4;
  text-align: center;
}

.title {
  background: #111;
  color: white;
  padding: 1rem;
  margin: 0;
  font-size: 1.5rem;
}

#map {
  height: 90vh; /* ekranın %90'ı kadar yer kaplasın */
  width: 100%;
}

.bonus-label {
  background: orange;
  color: white;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
